services:
  servicebus-sqledge:
    image: mcr.microsoft.com/azure-sql-edge:latest
    container_name: servicebus-sqledge
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: 'P@ssw0rd123!'
    networks:
      - service-bus

  servicebus-emulator:
    image: mcr.microsoft.com/azure-messaging/servicebus-emulator:latest
    container_name: servicebus-emulator
    environment:
      SQL_SERVER: servicebus-sqledge
      MSSQL_SA_PASSWORD: 'P@ssw0rd123!'
      ACCEPT_EULA: Y
      SQL_WAIT_INTERVAL: 15
    volumes:
      - ./service-bus/config.json:/ServiceBus_Emulator/ConfigFiles/Config.json
    ports:
      - '5672:5672'
      - '5300:5300'
    depends_on:
      - servicebus-sqledge
    networks:
      - service-bus

networks:
  service-bus:
    driver: bridge
    name: service-bus
